name: Android CI

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Replace tokens in build.gradle
        run: |
          sed -i 's/#{\([^}]*\)}/${\1}/g' donext/build.gradle

      - name: Cache Gradle
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Decode signing key
        run: echo "${{ secrets.SIGNING_KEY_BASE64 }}" | base64 --decode > upload.jks

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.4

      - name: Install Fastlane
        run: bundle install

      - name: Configure Google credentials
        run: echo '${{ secrets.GOOGLE_PLAY_SERVICE_ACCOUNT_JSON }}' > service-account.json

      - name: Run Fastlane
        env:
          SUPPLY_JSON_KEY: service-account.json
          KEYSTORE_FILE: upload.jks
          KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
          ALIAS_NAME: ${{ secrets.ALIAS_NAME }}
          ALIAS_PASSWORD: ${{ secrets.ALIAS_PASSWORD }}
        run: bundle exec fastlane internal